html, body {
    min-width: 450px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#panorama {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    opacity:0.7;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button-group, .auth-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease, transform 0.1s ease;
    width: 220px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.95);
}

.greenbutton {
    background-color: #28a745;
}

.greenbutton:hover {
    background-color: #218838;
}

.redbutton {
    background-color: #dc3545;
}

.redbutton:hover {
    background-color: #c82333;
}


a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}